<header class="header">
  <div class="container">
	<nav class="header__wrapper">

    	<span class="header__title">
            <a class="header__title-link"href="/">Home</a>
     	</span>

    	<ul class="header__item">
    		<li class="header__item-blok">
    			<a class="header__item-link" href="/">My blog</a>
    		</li>

    		<li class="header__item-blok">
    			<a class="header__item-link" href="/pages/catalog">Sign in</a>
    		</li>

    		<li class="header__item-blok">
    			<a class="header__item-link" href="/pages/toys">Register</a>
    		</li>
     
    	</ul>
	</nav>
    
  </div>
  
</header>





















