@import "./media";


html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 220px;
  box-sizing: border-box;

 @media screen and(max-width: $xl){
  	padding: 0 60px;

  }
  @media screen and(max-width: $sm){
  	padding: 0 20px;

  }
}

.list__none{
  list-style: none;
}
.hidden{
  display: none;
  margin-right:0;
}

.hover-color{
  color:#828282;
    text-decoration:none;
    transition: color .5s ease .2s;
    &:hover{
      color:#000;
    }
}



// Подключение компонентов
@import "./form/form";
@import "./blog/blog";
@import "./profile/profile";
@import "./button/button";
@import "./header/header";
@import "./footer/footer";