<footer class="footer">
  <div class="container">

  	<div class="footer__wrapper">

    <h3 class="footer__title">Contacts</h3>
      <p class="footer__text">Want to know more or just chat? You are welcome!</p>
         <button class="footer__message">Send message</button>

    <ul class="footer__social">
    	
    	<li class="footer__social-item">
    		<a href="https://www.instagram.com" class="footer__social-link">Instagram</a> 
    	</li>

    	<li class="footer__social-item">
    		<a href="" class="footer__social-link">Vk</a>
    	</li>

    	<li class="footer__social-item">
    		<a href="" class="footer__social-link">Telegram</a>
    	</li>

    	<li class="footer__social-item">
    		<a href="" class="footer__social-link">Mail</a>
    	</li>

    	<li class="footer__social-item">
    		<a href="" class="footer__social-link">GitHub</a>
    	</li>

    	<li class="footer__social-item">
    		<a href="" class="footer__social-link">Phone</a>
    	</li>

    </ul>
    <p class="footer__info">Design by 
    	<a class=" footer__info-name" href="/">DL Academy</a>
    </p>
    <p class="footer__info">Program code from Antonina</p>
   </div>
  </div>
</footer>
